.container > * {
  margin-bottom: 10px;
  padding: 15px;
}

.members {
  display: flex;
  justify-content: space-between;
}

.members > ul {
  display: flex;
  gap: 15px;
}

.members span i {
  color: gold;
}

.members span {
  color: brown;
}

.members > p:hover, .members > ul > li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img_div {
  width: 1000px;
  height: 120px;
  cursor: pointer;
}

.img_div > img {
  width: 100%;
}