.container > * {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.2rem
}

.members {
  display: flex;
  justify-content: end;
}

.members > ul {
  display: flex;
  gap: 15px;
  padding: 7px;
}

.members > p:hover, .members > ul > li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img_div {
  width: 100%;
  height: 180px;
  cursor: pointer;
}

.img_div > img {
  width: 100%;
}