<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.craft.backend_farm_hub.cart.mapper.CartMapper">
    <resultMap id="cart" type="com.craft.backend_farm_hub.cart.dto.CartDTO">
        <id column="CART_NUM"  property="cartNum" />
        <result column="ITEM_NUM" property="itemNum" />
        <result column="CART_CNT" property="cartCnt" />
        <result column="MEM_ID" property="memId" />
        <result column="TOTAL_PRICE" property="totalPrice" />
        <result column="CART_DATE" property="cartDate" />
        <!--        장바구니에는 상품이 하나 들어가있다 -->
        <association property="itemDTO" resultMap="com.craft.backend_farm_hub.item.mapper.ItemMapper.items" />
    </resultMap>
	
</mapper>