<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.craft.backend_farm_hub.farm.mapper.FarmMapper">
	<resultMap id="farm" type="com.craft.backend_farm_hub.farm.dto.FarmDTO">
        <id column="THV_ID" property="thvId" />
        <result column="TEMPERATURE" property="temperature" />
        <result column="HUMIDITY" property="humidity" />
        <result column="AIR_QUALITY" property="airQuality" />
        <result column="CREATE_DATE" property="createDate" />

        <result column="AVG_TEMP" property="avgTemp" />
        <result column="MAX_TEMP" property="maxTemp" />
        <result column="MIN_TEMP" property="minTemp" />

        <result column="AVG_HUM" property="avgHum" />
        <result column="MAX_HUM" property="maxHum" />
        <result column="MIN_HUM" property="minHum" />

        <result column="AVG_AIR" property="avgAir" />
        <result column="MAX_AIR" property="maxAir" />
        <result column="MIN_AIR" property="minAir" />
    </resultMap>
    
    <resultMap id="light" type="com.craft.backend_farm_hub.farm.dto.IlluminanceDTO">
        <id column="IM_ID"              property="imId" />
        <result column="ILLUMINANCE"    property="illuminance" />
        <result column="CREATE_DATE"    property="createDate" />

        <result column="AVG_ILL" property="avgIll" />
        <result column="MAX_ILL" property="maxIll" />
        <result column="MIN_ILL" property="minIll" />
    </resultMap>

    <!--온도 데이터 조회-->
    <select id="getTemperatureData" resultMap="farm">
        <foreach collection="dateRange" item="each" separator="UNION ALL">
            SELECT
            IFNULL(CREATE_DATE, ADDDATE(CURRENT_DATE(), -#{each})) CREATE_DATE
            , IFNULL(AVG(TEMPERATURE), 0) AS AVG_TEMP
            , IFNULL(MAX(TEMPERATURE), 0) AS MAX_TEMP
            , IFNULL(MIN(TEMPERATURE), 0) AS MIN_TEMP
            FROM fan_function
            WHERE TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') = ADDDATE(CURRENT_DATE(), -#{each})
        </foreach>
        ORDER BY CREATE_DATE ASC
    </select>

    <!--습도 데이터 조회-->
    <select id="getHumidityData" resultMap="farm">
        <foreach collection="dateRange" item="each" separator="UNION ALL">
            SELECT
            IFNULL(CREATE_DATE, ADDDATE(CURRENT_DATE(), -#{each})) CREATE_DATE
            , IFNULL(AVG(HUMIDITY), 0) AS AVG_HUM
            , IFNULL(MAX(HUMIDITY), 0) AS MAX_HUM
            , IFNULL(MIN(HUMIDITY), 0) AS MIN_HUM
            FROM fan_function
            WHERE TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') = ADDDATE(CURRENT_DATE(), -#{each})
        </foreach>
        ORDER BY CREATE_DATE ASC
    </select>

    <!--조도 데이터 조회-->
    <select id="getIlluminanceData" resultMap="light">
        <foreach collection="dateRange" item="each" separator="UNION ALL">
            SELECT
            IFNULL(CREATE_DATE, ADDDATE(CURRENT_DATE(), -#{each})) CREATE_DATE
            , IFNULL(AVG(ILLUMINANCE), 0) AS AVG_ILL
            , IFNULL(MAX(ILLUMINANCE), 0) AS MAX_ILL
            , IFNULL(MIN(ILLUMINANCE), 0) AS MIN_ILL
            FROM illuminance_function
        </foreach>
    </select>
          
    <!--공기질 데이터 조회-->
    <select id="getAirQualityData" resultMap="farm">
        <foreach collection="dateRange" item="each" separator="UNION ALL">
            SELECT
            IFNULL(CREATE_DATE, ADDDATE(CURRENT_DATE(), -#{each})) CREATE_DATE
            , IFNULL(AVG(AIR_QUALITY), 0) AS AVG_AIR
            , IFNULL(MAX(AIR_QUALITY), 0) AS MAX_AIR
            , IFNULL(MIN(AIR_QUALITY), 0) AS MIN_AIR
            FROM fan_function
            WHERE TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') = ADDDATE(CURRENT_DATE(), -#{each})
        </foreach>
        ORDER BY CREATE_DATE ASC
    </select>

</mapper>































