<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.craft.backend_farm_hub.qna.mapper.QnaMapper">
	<resultMap id="qna" type="com.craft.backend_farm_hub.qna.dto.QnaDTO">
        <id column="QNA_NUM" property="qnaNum"/>
        <result column="CONTENT" property="content"/>
        <result column="QNA_DATE" property="qnaDate"/>
        <result column="ITEM_NUM" property="itemNum"/>
    </resultMap>
</mapper>































