<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.craft.backend_farm_hub.qna.mapper.ReplyMapper">
	<resultMap id="reply" type="com.craft.backend_farm_hub.qna.dto.ReplyDTO">
      <id column="REPLY_NUM" property="replyNum" />
      <result column="REPLY_MEM_ID" property="replyMemId" />
      <result column="QNA_NUM" property="qnaNum" />
      <result column="REPLY_DATE" property="replyDate" />
      <result column="REPLY_CONTENT" property="replyContent" />
      <result column="STATUS"    property="status"/>

      <association property="qnaDTO" resultMap="QnaDTO"/>
  </resultMap>

  <resultMap id="QnaDTO" type="com.craft.backend_farm_hub.qna.dto.QnaDTO">
      <id column="QNA_NUM" property="qnaNum"/>
      <result column="MEM_ID" property="memId"/>
      <result column="ITEM_NUM" property="itemNum"/>
      <result column="QNA_DATE" property="qnaDate"/>
      <result column="CONTENT" property="content"/>
  </resultMap>

    <!--답변 등록-->
    <insert id="regReply">
        INSERT INTO REPLY (
        REPLY_MEM_ID
            , QNA_NUM
            , REPLY_CONTENT
        ) VALUES (
            #{replyMemId}
            , #{qnaNum}
            , #{replyContent}
        )
    </insert>

    <!--답변 모달 내부 내용 조회-->
    <select id="getModalContent" resultMap="reply">
        SELECT Q.QNA_NUM
        , MEM_ID
        , ITEM_NUM
        , QNA_DATE
        , CONTENT
        , REPLY_MEM_ID
        , REPLY_DATE
        , REPLY_CONTENT
        , CASE WHEN (SELECT count(REPLY_NUM)
                     FROM reply
                     WHERE QNA_NUM = Q.QNA_NUM) = 0
                     THEN '답변대기'
                     ELSE '답변완료'
        END AS STATUS
        FROM qna Q LEFT OUTER JOIN reply R
        ON Q.QNA_NUM = R.QNA_NUM
        WHERE Q.QNA_NUM = #{qnaNum}
    </select>

    <!--구매자 화면에 띄워줄 질문, 답변 내용 조회-->
    <select id="getQnaList" resultMap="reply">
        SELECT Q.QNA_NUM
        , MEM_ID
        , ITEM_NUM
        , QNA_DATE
        , CONTENT
        , REPLY_MEM_ID
        , REPLY_DATE
        , REPLY_CONTENT
        , CASE WHEN (SELECT count(REPLY_NUM)
        FROM reply
        WHERE QNA_NUM = Q.QNA_NUM) = 0
        THEN '답변대기'
        ELSE '답변완료'
        END AS STATUS
        FROM qna Q LEFT OUTER JOIN reply R
        ON Q.QNA_NUM = R.QNA_NUM
        WHERE ITEM_NUM = #{itemNum}
    </select>

<!--    유저별 문의 내용 조회-->
    <select id="getQnaListforUser" resultMap="reply">
        SELECT Q.QNA_NUM
        , MEM_ID
        , ITEM_NUM
        , QNA_DATE
        , CONTENT
        , REPLY_MEM_ID
        , REPLY_DATE
        , REPLY_CONTENT
        , CASE WHEN (SELECT count(REPLY_NUM)
        FROM reply
        WHERE QNA_NUM = Q.QNA_NUM) = 0
        THEN '답변대기'
        ELSE '답변완료'
        END AS STATUS
        FROM qna Q LEFT OUTER JOIN reply R
        ON Q.QNA_NUM = R.QNA_NUM
        WHERE MEM_ID = #{memId}
        ORDER BY QNA_DATE DESC
    </select>

</mapper>