<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.craft.backend_farm_hub.review.mapper.ReviewMapper">
	<resultMap id="review" type="com.craft.backend_farm_hub.review.dto.ReviewDTO">
        <id column="REVIEW_NUM" property="reviewNum" />
        <result column="RATING" property="rating" />
        <result column="TITLE" property="title" />
        <result column="MEM_ID" property="memId" />
        <result column="ITEM_NUM" property="itemNum" />
        <result column="CONTENT" property="content" />
        <result column="READ_CNT" property="readCnt" />
        <result column="CREATE_DATE" property="createDate" />
<!--        리뷰 하나에 이미지는 여러개-->
        <collection property="reviewImgList" resultMap="reviewImg" />
    </resultMap>

    <resultMap id="reviewImg" type="com.craft.backend_farm_hub.review.dto.ReviewImgDTO">
        <id column="REVIEW_IMG_NUM" property="reviewImgNum" />
        <result column="REVIEW_ORIGIN_IMG_NAME" property="reviewOriginImgName" />
        <result column="REVIEW_ATTACHED_IMG_NAME" property="reviewAttachedImgName" />
        <result column="REVIEW_NUM" property="reviewNum" />
    </resultMap>

  <!--리뷰 등록-->
    <insert id="regReview">
        INSERT INTO REVIEW (
          RATING
          , TITLE
          , MEM_ID
          , ITEM_NUM
          , CONTENT
        ) VALUES (
          #{rating}
          , #{title}
          , #{memId}
          , #{itemNum}
          , #{content}
        )
    </insert>

    <!--    리뷰 이미지 등록-->
    <insert id="insertReviewImgs">
        INSERT INTO REVIEW_IMG(REVIEW_ORIGIN_IMG_NAME, REVIEW_ATTACHED_IMG_NAME, REVIEW_NUM)
        VALUES
        <foreach collection="reviewImgList" item="reviewImg" separator=",">
            (#{reviewImg.reviewOriginImgName}, #{reviewImg.reviewAttachedImgName}, #{reviewImg.reviewNum})
        </foreach>
    </insert>

    <!--    review 테이블에 데이터 삽입 시 저장되는 REVIEW_NUM을 조회하는 쿼리-->
    <select id="getNextReviewNum" resultType="int">
        SELECT IFNULL(MAX(REVIEW_NUM), 0) +1 FROM REVIEW
    </select>

    <!--    리뷰 등록시 상품 평균 평점 반영 -->
    <update id="updateRating">
        UPDATE ITEM
        SET REVIEW_AVG = (SELECT AVG(RATING) FROM review WHERE ITEM_NUM = #{itemNum})
        WHERE ITEM_NUM = #{itemNum}
    </update>

<!--    상품별 리뷰 목록 조회-->
    <select id="getReviewListforItem" resultMap="review">
        SELECT REVIEW.REVIEW_NUM, RATING, TITLE, MEM_ID, ITEM_NUM, CONTENT, READ_CNT, CREATE_DATE, REVIEW_IMG_NUM, REVIEW_ATTACHED_IMG_NAME
        FROM review LEFT OUTER JOIN REVIEW_IMG
        ON REVIEW.REVIEW_NUM = REVIEW_IMG.REVIEW_NUM
        WHERE ITEM_NUM = #{itemNum}
        ORDER BY CREATE_DATE DESC
    </select>

</mapper>