<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.craft.backend_farm_hub.shop_member.mapper.ShopMemberMapper">
  <!--멤버 resultMap-->
	<resultMap id="member" type="com.craft.backend_farm_hub.shop_member.dto.ShopMemberDTO">
    <id column="MEM_ID" property="memId" />
    <result column="MEM_PW" property="memPw" />
    <result column="MEM_NAME" property="memName" />
    <result column="MEM_TEL" property="memTel" />
    <result column="MEM_EMAIL" property="memEmail" />
    <result column="MEM_ADDR" property="memAddr" />
    <result column="ADDR_DETAIL" property="addrDetail" />
    <result column="PW_KEY" property="pwKey" />
    <result column="PW_ANSWER" property="pwAnswer" />
    <result column="MEM_ROLE" property="memRole" />
    <result column="JOIN_DATE" property="joinDate" />
  </resultMap>
  <!--비밀번호 찾기 질문 resultMap-->
  <resultMap id="question" type="com.craft.backend_farm_hub.shop_member.dto.ForgotPwDTO">
    <id column="PW_KEY" property="pwKey" />
    <result column="PW_QUESTION" property="pwQuestion" />
  </resultMap>

<!--회원등록 쿼리문-->
  <insert id="regMember">
    INSERT INTO SHOP_MEMBER (
      MEM_ID
      , MEM_PW
      , MEM_NAME
      , MEM_TEL
      , MEM_EMAIL
      , MEM_ADDR
      , ADDR_DETAIL
      , PW_KEY
      , PW_ANSWER
    ) VALUES (
      #{memId}
      , #{memPw}
      , #{memName}
      , CONCAT(#{memTelArr[0]}, '-', #{memTelArr[1]}, '-', #{memTelArr[2]})
      , #{memEmail}
      , #{memAddr}
      , #{addrDetail}
      , #{pwKey}
      , #{pwAnswer}
    )
  </insert>

<!--로그인 기능 쿼리-->
  <select id="login" resultMap="member">
    SELECT
      MEM_ID
      , MEM_NAME
      , MEM_ROLE
    FROM SHOP_MEMBER
    WHERE MEM_ID = #{memId}
    AND MEM_PW = #{memPw}
  </select>

<!--ID 중복검사-->
  <select id="checkIdDup" resultType="String">
    SELECT MEM_ID
    FROM SHOP_MEMBER
    WHERE MEM_ID = #{memId}
  </select>

<!--비밀번호 찾기 질문 목록 조회-->
  <select id="getQuestion" resultMap="question">
    SELECT
      PW_KEY
      , PW_QUESTION
    FROM FORGOTPW
  </select>

<!--  비밀번호 찾기 쿼리-->
  <select id="forgotPw" resultMap="member">
    SELECT MEM_ID, MEM_NAME, MEM_EMAIL, PW_KEY, PW_ANSWER
    FROM SHOP_MEMBER
    WHERE MEM_ID = #{memId}
  </select>

<!--  비밀번호 변경-->
  <update id="renewalPw">
    UPDATE SHOP_MEMBER
    SET MEM_PW = #{memPw}
    WHERE MEM_ID = #{memId}
  </update>

</mapper>