.container > h4 {
  text-align: center;
}

.reg_review_table {
  border-top: 2px solid #aaaaaa;
  width: 100%;
  margin: 18px 0px;
}

.reg_review_table td {
  padding: 8px;
  vertical-align: top;
  border: 1px solid #cccccc;
}

.btn_div {
  text-align: center;
}

.btn_div > button {
  margin: 5px;
}

.btn_div > button:last-child {
  background-color: #555555;
}

.btn_div > button:last-child:hover {
  background-color: #333333;
}

.errorMsg{
  color: crimson;
  font-size: 0.7rem;
  margin-top: 0px;
}

.starRatingtd{
  display: flex;
  align-items: center;
}

.starRating{
  appearance: none; 
  margin: 0px;
  
}

.starRating:after{
  content: '☆';
  color: brown;
  font-size: 30px;
  cursor: pointer;
}

.starRating:hover::after,
.starRating:has(~ .starRating:hover)::after,
.starRating:checked::after,
.starRating:has(~ .starRating:checked)::after{
  content: '★';
  cursor: pointer;

}

.starRating:hover ~ .starRating::after{
  content: '☆';  
  cursor: pointer;
}
