.grid_div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid_content {
  height: 350px;
  margin: 10px;
  padding: 15px;
  background-color: rgb(255, 240, 220);
  box-shadow: #aaaaaa 2px 2px 5px 1px;
}

.grid_content:hover {
  cursor: pointer;
}

.grid_img {
  height: 80%;
}

.grid_img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  background-repeat: no-repeat;
}

.grid_info {
  margin-top: 15px;
  height: 20%;
  text-align: center;
}