.container {
  width: 1500px;
  margin: auto;
}

.header {
  height: 10vh;
  background-color: rgb(80, 19, 19);
  color: white;
}

.body {
  display: flex;
  height: 90vh;
}

.side_menu {
  width: 20%;
  background-color: rgb(117, 90, 90);
}

.content {
  width: 80%;
  background-color: #cccccc;
}