.container {
  width: 1500px;
  margin: auto;
}

.header {
  height: 100%;
  background-color: rgb(80, 19, 19);
  color: white;
}

.body {
  display: flex;
  height: 95vh;
}

.side_menu {
  width: 20%;
  background-color: #D9C3A7;
}

.content {
  width: 80%;
  background-color: #f8f8f8;
}