.category > p {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 10px;
  transition: 0.2s;
}

.category > p:hover {
  cursor: pointer;
}

.category li p {
  padding: 15px 10px;
}

.category li > span {
  margin-right: 5px;
}

.category li:hover {
  background-color: #C2A78E;
  cursor: pointer;
}

.category a {
  color: inherit; 
  text-decoration: none;
  transition: color 0.2s ease;
}

.category li {
  color: #000;
  transition: all 0.2s;
}

.category a:visited {
  color: #000;
}

.category a:hover {
  color: #3498db; 
}

.active > p {
  color: #3498db;
  padding: 15px 10px;
  background-color: #C2A78E;
}

.category a:active {
  color: #000;
}

