.container {
  margin: 0 auto; 
  width: 80%;
  padding: 20px 0; 
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
}

.review_table {
  table-layout: fixed;
  width: 100%;
  font-size: 1.1rem;
  text-align: center;
  border-top: 2px solid #888888;
  margin-top: 0; 
}
.review_table tr {
  border-bottom: 1px solid #bbbbbb;
}

.review_table td {
  padding: 15px;
}

.review_table > thead > tr {
  background-color: #eeeeee;
}

.img{
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img img{
  width: 50%;
}